@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: 100%;
}

div{
    display: block;
}
ul{
    font-family: 'Roboto', sans-serif;
    
}

li{
    display: inline;
}

main{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding: bottom 2rem;
}

h1{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 1.5rem;
}
h1, h3{
    font-family: 'Patrick Hand', cursive;
    color:#212529 ;
}
.text-center{
    text-align: center;
}



nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #212529;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.main-container{
    padding-top: 10em;
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.col{
    flex: 0 0 auto;
    width: 50%;
}

.nav-nome{
    color: white;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Patrick Hand', cursive
}

.profilepic{
    padding: 1rem;
    border-width: 5px;
    border: 5px solid #212529;
    margin-bottom: 0.5rem;
    max-width: 100%;
    height: auto;
}
img{
    vertical-align: middle;
}
.nav-links, .nav-bar-links{
    color: white; 
    text-decoration: none;
    

}

footer{
    padding-top: 15rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
}

.text{
    font-size: 1.25rem;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    
}

