a {
  color: white;
  text-decoration: none;
}

body {
  width: 100vw;
}

#root {
  background-color: #0F1624;
  color: #FFF;
  width: 100%;
}

.card-picture {
  border-radius: 10px;
  border: 1px solid black;
  object-fit: contain;
  width: 100%;
}


@keyframes expand {
  0% { height: 100%; width: 100%; }
  100% { height: 130%; width: 130%; }
}
